#container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr 1fr;
}

#header {
    background-color: black;
    color: white;
    padding: 10px 20px;
    grid-area: 1 / 1 / 2 / 3;
}

#sidebar {
    /* padding: 10px; */
    background-color: lightgray;
}

#main {
    padding: 20px 50px;
}

li , svg {
    display: inline-flex;
    vertical-align: middle;
}

.checked {
    text-decoration: line-through;
}

.checked::before {
    content: '';
    position: relative;
    border-color: black;
    border-style: solid;
    border-width: 0 2px 2px 0;
    /* top: 10px; */
    /* left: 16px; */
    right: 15px;
    /* bottom: 0px; */
    transform: rotate(45deg);
    height: 15px;
    width: 5px;
}

ul {
    /* margin: 0px; */
    padding:0px 20px;
}

#sidebar div , #main div {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    /* text-align: left; */
}

#sidebar div:hover ,#main div:hover {
    background-color: gray;
    cursor: pointer;
}

#footer {
    background-color: gray;
    grid-area: 3 / 1 / 4 / 3;
    color: white;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.close {
    position: absolute;
    right: 90px;
    padding: 0 10px;    
}

.close-pro {
    position: relative;
    right: -20px;
    padding: 0 10px;    
}


.close:hover , .close-pro:hover {
    background: red;
}

#main button {
    margin: 10px 10px 10px 0;
    padding: 10px 30px;
    border-radius: 10px;
}

button:hover {
    background-color: dodgerblue;
    color: white;
}

#main input {
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
}

#sidebar button {
    margin: 5px 5px 5px 0;
    padding: 5px 15px;
    border-radius: 5px;
}

#sidebar input {
    padding: 5px 10px;
    width: 80px;
    border-radius: 5px;
}

h3 {
    padding: 10px;
}